@font-face {
    font-family: "Metropolis Light";
    src: url("../fonts/metropolis/Metropolis-Light.otf");
}

@font-face {
    font-family: "Metropolis Bold";
    src: url("../fonts/metropolis/Metropolis-Bold.otf");
}

body {
    font-family: "Metropolis Light";
}

.barra {
    background-color: #2C5234;

}

.barra a {
    color: white;
}

.barra a:hover {
    background-color: #9C8412;

}

img {
    width: 100%;
}



.botones a {
    color: white;
    background-color: #9C8412;
    border-color: white;
    border-radius: 10%;
    padding: 32%;
    margin-top: 10%;
    font-size: 180%;
}

.botones a:hover {
    color: white;
    font-family: "Metropolis Bold";
    border-color: #9C8412;
    background-color: rgb(156, 132, 18, 0.9);
}

.botones-admin a {
    color: white;
    background-color: #9C8412;
    border-color: white;
    border-radius: 5%;
    padding: 12%;
    margin-top: 11%;
    font-size: 180%;
}

.botones-admin a:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    color: white;
    font-family: "Metropolis Bold";
    border-color: #9C8412;
    background-color: rgb(156, 132, 18, 0.9);
}

.formulario {
    margin-top: 2.5%;
    font-size: 10%;
    border-radius: 10%;
    background-color: rgb(44, 82, 52, 0.1);
    padding: 2%;
}

.formulario img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
}

.registro {
    margin-top: 2.5%;
    font-size: 100%;
    border-radius: 2%;
    background-color: rgb(44, 82, 52, 0.1);
    padding: 2%;
}

.registro img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 10%;
}

/*pie de pagina general*/
.footer {
    font-family: Arial;
    font-size: 100%;
    background: #2d3436;
    padding: 20px;
    margin-right: 0px;
    color: #dfe6e9;

}

.footer a {
    color: #dfe6e9;
}

.footer h1 {
    color: white;
}

.footer dt {
    color: white;
}



.inicio {
    background-size: cover;
    background-image: url("../img/rectoria.jpg");
}