<div class="row footer">
    <div class="col-md-3">
        <h2>Sistema control de laboratorios</h2>
    </div>
    <div class=" col-md-3">
        <dt class="nav-title">LABORATORIOS</dt>

        <dd class="nav-item"><a href="" style="color:#dfe6e9;">Lab. Interacción Hombre-Maquina</a></dd>
        <dd class="nav-item"><a href="" style="color:#dfe6e9;">Lab. Robotica</a></dd>
        <dd class="nav-item"><a href="" style="color:#dfe6e9;">Lab. Paralela</a></dd>
        <dd class="nav-item"><a href="" style="color:#dfe6e9;">Lab. Redes</a></dd>

    </div>
    <div class="col-md-3">
        <dt class="nav-title">REDES</dt>
        <dd class="nav-item"><a style="color:#dfe6e9;"
                href="https://www.facebook.com/integrate.project/?epa=SEARCH_BOX"><i class="fab fa-facebook-square">
                    Facebook</i></a></dd>
        <dd class="nav-item"><a style="color:#dfe6e9;" href="https://twitter.com/Intgrate2"><i class="fab fa-twitter">
                    Twiter
                </i></a></dd>
        <dd class="nav-item"><a style="color:#dfe6e9;" href="https://www.instagram.com/project.integrate/"><i
                    class="fab fa-instagram">
                    Instagram</i></a></dd>
        <dd class="nav-item"><a style="color:#dfe6e9;"
                href="https://www.youtube.com/channel/UCP-8T0MBbcq7YGB8303dsrw/featured"><i class="fab fa-youtube">
                    YouTube</i></a></dd>

    </div>
    <div class="col-md-3 texto">
        <dt class="nav-title">CONTACTO</dt>
        <dd class="nav-item"><a style="color:#dfe6e9;" href=""><i class="fas fa-phone-square"> Facultad de
                    Ingeniería UAEM
                    Cerro de Coatepec S/N
                    Ciudad Universitaria C.P. 50100.
                    Toluca, Estado de México
                </i></a>
        </dd>
        <dd class="nav-item"><a style="color:#dfe6e9;" href="#">Tels.:(+52 722) 214 08 55 y 214 05 34</a></dd>
    </div>
</div>